.container1{
    max-width: 600px;
    margin: auto;
    margin-top: 45px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: auto;
  }
  
  .form-container {
    margin-bottom: 20px;
  }
  
  .form-label {
    font-weight: bold;
  }
  
  .form-control {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .btn-primary {
    
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    margin: auto;
    margin-bottom: 25px;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
  }
  .submit-container {
    display: flex;
    justify-content: center;
  }
  
  